$primary-color: #077EFF;
$color: #077EFF;
$color2: #E8F1FE;
$black: #000;
$gray: #0b1a36;
$green_dark: #69B17B;
$green_light: #8dbe99;
$green: #06cd61;
$dark_gray: #172330;
$light_gray: #bdbdbd;
$red: #eb5757;
$light: #fff;
$light1: #f2f2f2;
$font: "Regular";
$shadow: 0 4rem 3rem rgba($black, 0.05);
$shadow2: 0 0.7rem 3.5rem -0.5rem rgba($black, 0.1),
  0 -0.5rem 1rem -0.6rem rgba($black, 0.1);
$shadow3: 0.5rem 0.8rem 4.6rem 0.5rem rgba(96, 49, 217, 0.1);
