// ====
@mixin imge {
  @include pos($z: -1);
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@include ipad {
}

@include ipad_sm {
}

@include mobile {
}

@include mobile_md {
}
// ====
.uj_smallbanner {
  background: #ecf1f7;
  padding: 7rem 0;
  @include mobile_sm {
    padding: 5rem 0;
  }
  .inner2 {
    text-align: center;
    h1 {
      color: $black;
      margin-bottom: 0;
    }
  }
  .inner {
    width: 50%;
    @include mobile {
      width: 100%;
    }
    h2 {
      margin-bottom: 0;
    }
    p {
      margin-top: 15px;
    }
    &.how_it {
      width: 83%;
      @include ipad {
        width: 100%;
      }
    }
  }

  .tab_banner {
    width: 65%;
    margin-top: 30px;
  }
  .uj_top_content {
    text-align: center;
    h1 {
      font-size: 70px;
      margin: 30px 0;
      margin-bottom: 0;
      color: $black;
      @include mobile_md {
        font-size: 56px;
      }
    }
    h3 {
      font-family: "Caveat";
      font-size: 42px;
      color: $black;
      position: relative;
      width: fit-content;
      margin: 0 auto;
      .images {
        position: absolute;
        right: 86px;
        top: 17px;
        width: 13%;
        @include ipad_sm {
          right: 148px;
          top: 27px;
          width: 13%;
        }
        @include mobile_md {
          display: none;
        }
      }
      strong {
        font-family: "Caveat";
        font-size: 23px;
        position: absolute;
        color: $black;
        top: 55px;
        right: -40px;
        width: 17%;
        @include ipad_sm {
          right: 14px;
        }
        @include mobile {
          width: 19%;
        }
        @include mobile_md {
          display: none;
        }
      }
    }
  }
}
// ===== uj_agent_first ====
.uj_agent_first {
  .flex {
    box-shadow: 0px 0px 20px -1px rgb(0 0 0 / 8%);
    @include ipad_sm {
      padding: 30px;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    .cols {
      width: 50%;
      @include ipad_sm {
        width: 100%;
      }
    }
    .col1 {
      align-self: center;
      padding: 0 40px;
      @include ipad_sm {
        padding: 0px;
        padding-top: 0px;
      }
      .center {
        h3 {
          text-align: center;
        }
      }
      .cta {
        width: fit-content;
        margin: 0 auto;
      }
    }
    .col2 {
      @include ipad_sm {
        width: 60%;
        margin: 0 auto;
        margin-top: 20px;
      }
      @include mobile_md {
        width: 100%;
      }
      .image {
        position: relative;
        padding-bottom: 66%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        @include ipad_sm {
          @include radius(15px);
        }
        img {
          @include imge;
        }
      }
    }
  }
}
// ======= uj_agent_advantage =======
.uj_agent_advantage {
  padding-top: 0;
  .sec_heading {
    text-align: center;
    margin-bottom: 30px;
    @include mobile_md {
      margin-bottom: 20px;
    }
  }
  .cta {
    width: fit-content;
    margin: 0 auto;
  }
  .flex {
    .cols {
      width: calc(100% / 2);
      @include mobile_md {
        width: 100%;
      }
      .inner {
        padding: 20px;
        display: flex;
        @include ipad_sm {
          display: block;
          padding: 10px;
        }
        @include mobile_md {
          padding: 15px 0;
        }
        .image {
          width: 60px;
          height: 60px;
          padding: 10px;
          @include radius(10px);
          background: $primary-color;
          @include ipad_sm {
            margin-bottom: 15px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          padding-left: 15px;
          width: 88%;
          @include ipad_sm {
            padding-left: 0;
            width: 100%;
          }
        }
      }
    }
  }
}
// ======= uj_agent_services =======
.uj_agent_services {
  padding-top: 0;
  .sec_heading {
    text-align: center;
    width: 63%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .flex {
    .cols {
      width: calc(100% / 3);

      padding: 15px;
      .inner {
        padding: 30px;
        box-shadow: 0px 0px 20px -1px #0d4e9530;
        text-align: center;
        @include radius(5px);
        .image {
          width: 60px;
          height: 60px;
          margin: 0 auto;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          margin-top: 20px;
          h4 {
            margin-bottom: 0;
            font-family: "Medium";
            font-size: 20px;
          }
        }
      }
    }
  }
}
// ===== uj_agent_cta =====
.uj_agent_cta {
  padding-top: 0;
  .inner {
    background: $primary-color;
    padding: 40px;
    text-align: center;
    @include radius(10px);
    width: 65%;
    @include ipad_sm {
      width: 90%;
    }
    @include mobile_md {
      width: 100%;
    }
    margin: 0 auto;
    h2 {
      color: $light;
    }

    .cta {
      width: fit-content;
      margin: 0 auto;
      margin-top: 30px;
      .site_btn {
        background: $light;
        color: $primary-color;
      }
    }
  }
}
// ===== uj_seller_why ====
.uj_seller_why {
  padding-top: 0;
  .sec_heading {
    width: 70%;
    @include ipad_sm {
      width: 92%;
    }
    @include mobile_md {
      width: 100%;
    }
    text-align: center;
    margin: 0 auto;
  }
  .flex {
    padding-top: 80px;
    @include ipad_sm {
      padding-top: 15px;
    }
    &:nth-child(2) {
      padding-top: 40px;
      @include ipad_sm {
        padding-top: 15px;
      }
    }
    &:nth-child(odd) {
      flex-direction: row-reverse;
      .col1 {
        padding-left: 60px;
        @include ipad_sm {
          padding-left: 0;
        }
      }
    }
    &:nth-child(even) {
      .col1 {
        padding-right: 70px;
        @include ipad_sm {
          padding-right: 0;
        }
      }
    }

    .col1 {
      align-self: center;
      width: 40%;
      @include ipad_sm {
        width: 100%;
      }
    }
    .col2 {
      width: 60%;
      @include ipad_sm {
        margin: 20px auto;
      }
      @include mobile_md {
        width: 100%;
      }
      .image {
        position: relative;
        padding-bottom: 59%;
        overflow: hidden;
        @include radius(10px);
        img {
          @include imge;
          @include radius(10px);
        }
      }
    }
  }
}
// ===== uj_common_cta =====
.uj_common_cta {
  padding-top: 0;
  .inner {
    background: $primary-color;
    padding: 40px;
    text-align: center;
    @include radius(10px);
    width: 65%;
    @include ipad {
      width: 83%;
    }
    @include ipad_sm {
      width: 100%;
    }
    @include mobile_md {
      padding: 30px;
    }
    margin: 0 auto;
    h2 {
      color: $light;
    }
    .content {
      margin: 30px 0;
      @include mobile_md {
        margin: 16px 0;
      }
      p {
        color: $light;
      }
    }

    .cta {
      width: fit-content;
      margin: 0 auto;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 0;
      @include mobile_md {
        display: block;
        width: 100%;
      }
      li {
        list-style: none;
        padding: 0 20px;
        @include mobile_md {
          padding: 5px;
        }
        .site_btn {
          background: $light;
          color: $primary-color;
          @include mobile_md {
            width: 100%;
          }
        }
      }
    }
  }
}
// ===== uj_contact_us ====
.uj_contact_us {
  .flex {
    @include mobile {
      flex-direction: column-reverse;
    }
  }
  .col1 {
    width: 60%;
    @include mobile {
      width: 100%;
    }
    .inner_form {
      background: #087eff03;
      padding: 40px;
      border-radius: 20px;
      border: 1px solid #077eff30;
      .txtGrp {
        position: relative;
        margin-bottom: 25px;
        select {
          color: #9a9fa4;
        }
        .input {
          border-color: #d9d9d9;
          background-color: $light;
          ::placeholder {
            color: #9a9fa4;
          }
        }
      }
      .cta {
        display: flex;
        justify-content: center;
      }
    }
  }
  .col2 {
    @include mobile {
      width: 100%;
      padding-left: 0;
    }
    width: 40%;
    align-self: center;
    padding-left: 30px;
    ul {
      @include mobile {
        padding-left: 0;
      }
      li {
        list-style: none;
        padding-bottom: 20px;
        h5 {
          font-size: 22px;
        }
        .mail_area {
          display: flex;
          align-items: center;
          .image {
            width: 20px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          a {
            padding-left: 10px;
          }
        }
      }
    }
  }
}
// ====== uj_login ====
.uj_login {
  padding: 30px;

  @include ipad {
    height: unset;
    padding: 38px 0;
  }

  .col1 {
    min-height: 94vh;
    width: 45%;
    background: url(../public/images/uj_login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include ipad {
      width: 100%;
      min-height: 36vh;
    }
    @include mobile_sm {
      padding: 20px;
    }
    @include radius(15px);
    padding: 50px;
    display: flex;
    align-items: end;
    .signup_btn {
      background: $light;
      width: 100%;
      padding: 10px 13px;
      @include radius(10px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        margin-bottom: 0;
      }
      .site_btn {
        @include radius(50px);
        @include mobile_sm {
          width: fit-content;
        }
      }
    }
  }
  .col2 {
    @include ipad {
      width: 65%;
      margin: 0 auto;
      padding: 0;
      padding-top: 50px;
    }
    @include mobile {
      width: 75%;
    }
    @include mobile_sm {
      width: 100%;
    }
    width: 55%;
    padding: 50px;
    align-self: center;
    .logo {
      max-width: 16.9rem;
      height: 7.9rem;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .up_cntent {
      text-align: center;
      margin-bottom: 59px;
    }
    .txtGrp {
      position: relative;
      margin-bottom: 20px;
      .input {
        background: $light;
        border-color: #9d9999;
        color: #555252;
        padding-right: 40px;
      }
      .icos {
        position: absolute;
        width: 28px;
        height: 28px;
        right: 10px;
        top: 10px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .txtGrp.flex {
      justify-content: space-between;
      label {
        color: #555252;
        font-family: "Regular";
      }
      a {
        color: #555252;
        font-family: "Bold";
      }
    }
    .site_btn {
      width: 100%;
      border-radius: 52px;
    }
    .lbl_btn {
      p {
        margin-bottom: 0;
      }
    }
  }
}
// ==== uj_signup ====
.uj_signup {
  .col1 {
    background: url(../public/images/uj_signup.jpg);
  }
}
// ==== uj_forget ====
.uj_forget {
  .col1 {
    background: url(../public/images/uj_forget_pass.jpg);
  }
}
// ===== uj_policy_detail====
.uj_policy_detail {
  ol {
    margin-bottom: 30px;
  }
  .margin_it {
    margin-bottom: 33px;
  }
  h5 {
    font-size: 19px;
  }
  ul {
    padding-left: 0;
    li {
      list-style: none;
      a {
        color: $primary-color;
      }
    }
  }
}
// ======= uj_work_steps =======
.uj_work_steps {
  .sec_heading {
    text-align: center;
    margin-bottom: 30px;
  }
  .flex {
    .cols {
      width: calc(100% / 2);
      @include mobile_sm {
        width: 100%;
      }
      padding: 10px;
      .inner {
        padding: 30px;
        display: flex;
        @include ipad_sm {
          display: block;
        }
        background: #087eff17;
        height: 100%;
        @include radius(20px);
        .image {
          width: 140px;
          height: 140px;
          padding: 33px;
          align-self: center;
          @include radius(10px);
          background: $light;
          box-shadow: 0px 0px 20px -1px #00000030;
          @include ipad_sm {
            margin-bottom: 25px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          padding-left: 33px;
          width: 74%;
          @include ipad_sm {
            width: 100%;
            padding-left: 0;
          }
          align-self: center;
          h4 {
            font-family: "SemiBold";
          }
        }
      }
    }
  }
}
// ======= uj_work_steps2 =======
.uj_work_steps2 {
  padding-top: 0;
  .sec_heading {
    text-align: center;
    margin-bottom: 13px;
  }
  .flex {
    @include ipad_sm {
      justify-content: center;
    }
    .cols {
      width: calc(100% / 3);
      @include ipad_sm {
        width: calc(100% / 2);
      }
      @include mobile_sm {
        width: 100%;
      }
      .inner {
        padding: 20px;
        @include mobile_sm {
          padding: 20px 0;
        }
        .image {
          width: 240px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          padding-top: 30px;
          h4 {
            font-family: "SemiBold";
          }
        }
      }
    }
  }
}
// ======= uj_work_feature =======
.uj_work_feature {
  padding-top: 0;
  .sec_heading {
    text-align: center;
    width: 52%;
    @include ipad_sm {
      width: 74%;
    }
    @include mobile_sm {
      width: 100%;
    }
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .flex {
    justify-content: center;
    .cols {
      width: calc(100% / 3);
      @include ipad {
        width: calc(100% / 2);
      }
      @include mobile_sm {
        width: 100%;
        padding: 10px 0px;
      }
      .inner {
        padding: 13px;
        @include mobile_sm {
          padding: 0;
        }
        .content {
          h4 {
            font-size: 20px;
            color: #087eff;
            font-family: "SemiBold";
          }
        }
      }
    }
  }
}
// ===== uj_faqs ====
.uj_faqs {
  padding-top: 0;
  .sec_heading {
    text-align: center;
    margin-bottom: 30px;
  }
  .inner {
    width: 80%;
    @include mobile_sm {
      width: 100%;
    }
    margin: 0 auto;
    .outer_faq {
      background: #087eff14;
      border-radius: 12px;
      border: 1px solid #087eff36;
      margin-bottom: 28px;
      padding: 2rem;
      padding-bottom: 0;
      h4 {
        font-size: 18px;
        color: #39374d;
        font-family: "Medium";
        margin-bottom: 0;
        // padding:0 38px 20px 0px;
        margin: -2rem -2rem 0;
        padding: 2rem;
        @include mobile_sm {
          padding-right: 40px;
        }
        position: relative;
        border-bottom: 1px solid #087fff00;
        cursor: pointer;
        &:after {
          position: absolute;
          top: 0;
          right: 17px;
          bottom: 0;
          content: "";
          background: url(/images/wrap.svg);
          background-size: contain;
          background-position: 50%;
          background-repeat: no-repeat;
          width: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          -webkit-box-orient: vertical;
        }
      }

      .accordion__details {
        div {
          &:first-child {
            margin-top: 1rem;
          }
        }

        overflow: hidden;
        height: 0;
      }
      &.open {
        h4 {
          color: #087eff;
          border-bottom: 1px solid #087eff36;
          &:after {
            background: url(/images/wrap-down.svg);
            background-size: contain;
            background-position: 50%;
            background-repeat: no-repeat;
          }
        }
        .accordion__details {
          height: auto;
        }
      }
    }
  }
}
// ====
.uj_smallbanner2 {
  background: #ecf1f7;
  padding: 7rem 0;
  text-align: center;
  h2 {
    margin-bottom: 30px;
  }
  .search {
    width: 46%;
    margin: 0 auto;
    position: relative;
    @include ipad_sm {
      width: 62%;
    }
    @include mobile_sm {
      width: 100%;
    }
    .input {
      border: none;
      background: $light;
      @include radius(50px);
    }
    button {
      position: absolute;
      right: 7px;
      top: 1px;
      border: none;
      border-radius: 100%;
      width: 40px;
      padding: 9px;
      height: 44px;
      background: transparent;
    }
  }
}
// ===== uj_article ===
.uj_article {
  .inside {
    background: rgba(24, 119, 242, 0.04);
    border: 1px solid #eeeeee;
    padding: 30px;
    margin-bottom: 20px;
    @include radius(10px);
    &:last-child {
      margin-bottom: 0;
    }
    h5 {
      color: $black;
      font-family: "Medium";
      font-size: 18px;
    }
    p {
      color: #817263;
      margin-bottom: 20px;
    }
  }
}
p {
  &.found_res {
    margin-bottom: 2rem;
    strong {
      font-family: "SemiBold";
    }
  }
}
.uj_search_found {
  .inside {
    p {
      margin-bottom: 0px;
    }
  }
}
// ======= uj_help_step =======
.uj_help_step {
  .sec_heading {
    text-align: center;
    margin-bottom: 30px;
  }
  .flex {
    .cols {
      width: calc(100% / 3);
      @include ipad_sm {
        width: calc(100% / 2);
      }
      @include mobile_sm {
        width: 100%;
      }
      padding: 10px;
      .inner {
        padding: 25px 15px;
        display: flex;
        box-shadow: 0px 0px 20px -1px #0d4e9530;
        @include radius(10px);
        @include trans;
        &:hover {
          @include trans;
          box-shadow: none;
        }
        .image {
          width: 60px;
          height: 60px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .content {
          padding-left: 15px;
          width: 88%;
          h4 {
            font-family: "Regular";
            color: $primary-color;
            font-size: 19px;
            margin-bottom: 0.5rem;
          }
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
// ==== uj_popular ===
.uj_popular {
  padding-top: 0;
  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include mobile_sm {
      padding-left: 0;
    }
    li {
      width: calc(100% / 3);
      @include ipad_sm {
        width: calc(100% / 2);
      }
      @include mobile_sm {
        width: 100%;
      }
      list-style: none;
      padding-left: 18px;
      padding-bottom: 10px;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        top: 4px;
        left: 0;
        height: 14px;
        width: 8px;
        background-image: url(../public/images/arrow_right.svg);
        background-size: cover;
        background-position: 50%;
      }
      a {
        color: #696969;
        &:hover {
          color: $color;
        }
      }
    }
  }
}
// ==== uj_what_veera ====
.uj_what_veera {
  padding-top: 0;
  .flex {
    box-shadow: none;
    padding: 0;
    @include ipad_sm {
      flex-direction: column-reverse;
    }
    .col1 {
      padding-right: 0;
    }
    .col2 {
      @include ipad {
        align-self: center;
      }
      .image {
        @include radius(20px);
      }
    }
  }
}
// ======= uj_index_passionate =======
.uj_index_passionate {
  padding-top: 0;
  .sec_heading {
    text-align: center;
    width: 63%;
    @include ipad {
      width: 100%;
    }

    margin: 0 auto;
    margin-bottom: 30px;
  }
  .flex {
    @include ipad {
      justify-content: center;
    }
    .cols {
      width: calc(100% / 5);
      @include ipad {
        padding: 9px;
      }
      @include ipad_sm {
        width: calc(100% / 3);
      }
      @include mobile_sm {
        width: calc(100% / 2);
      }
      padding: 15px;
      .inner {
        padding: 10px;
        text-align: center;
        .image {
          width: 60px;
          height: 60px;
          background: $primary-color;
          @include radius(100%);
          margin: 0 auto;
          padding: 10px;
          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            @include radius(100%);
          }
        }
        .content {
          margin-top: 20px;
          h4 {
            margin-bottom: 0;
            font-family: "Medium";
            font-size: 18px;
          }
        }
      }
    }
  }
}
// ====uj_index_choose ==
.uj_index_choose {
  padding-top: 6rem;
  position: relative;
  &::before {
    @include pos($z: -1);
    content: "";
    background: #ecf1f7;
    width: 65%;
    @include radius(0 50px 50px 0px);
    height: 100%;
    @include ipad_sm {
      width: 100%;
      @include radius(0);
    }
  }
  .flex {
    @include ipad_sm {
      flex-direction: unset;
    }
    .col1 {
      padding-right: 40px;
      padding-left: 0;
    }
  }
}
// ===== uj_index_services ===
.uj_index_services {
  padding-top: 6rem;
  .sec_heading {
    @include ipad {
      width: 86%;
    }
  }
  .cols {
    @include ipad {
      width: calc(100% / 2) !important;
    }
    @include mobile_sm {
      width: 100% !important;
      padding: 10px 0 !important
      ;
    }
    .inner {
      height: 100%;
      text-align: left !important;
      .inside {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .image {
          width: 49px;
          height: 49px;
          margin: unset;
        }
        .content {
          margin-top: 0;
          padding-left: 20px;
        }
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
// ====== uj_index_subscribe =====
.uj_index_subscribe {
  margin-bottom: 5rem;
  @include ipad_sm {
    margin-bottom: 0;
    padding-top: 0;
  }

  .flex {
    background: #ecf1f7;
    padding: 6rem 40px;
    @include radius(30px);
    .col2 {
      width: 55%;
      @include mobile_sm {
        width: 100%;
        padding-left: 0;
      }
      padding-left: 50px;
      h3 {
        margin-bottom: 30px;
      }
      .search {
        position: relative;
        .input {
          background: $light;
          border: none;
        }
        button {
          position: absolute;
          right: 6px;
          top: 6px;
          height: 36px;
          width: 114px;
          min-width: 10rem;
        }
      }
    }
    .col1 {
      width: 40%;
      @include mobile_sm {
        width: 100%;
        display: none;
      }
      .image {
        position: absolute;
        width: 36%;
        top: -7rem;
        left: 26px;
        @include ipad {
          width: 42%;
          top: -5rem;
          left: -9px;
        }
        @include ipad_sm {
          top: 0rem;
          left: -9px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
// =====  uj_search_agent ===
.uj_search_agent {
  .tab_banner {
    .tab_content {
      background-color: rgba(24, 119, 242, 0.21);
      @include radius(15px);
      border-top-left-radius: 15px;
      width: 76%;
      @include ipad_sm {
        width: 100%;
      }
      margin: 0 auto;
      form {
        display: block !important;
        .field_col {
          border-right: 1px solid #b4b5c2;
          &:nth-child(2) {
            flex: 0.5;
          }
        }

        .cta_btn {
          width: 40px;
          /* min-width: 27px; */
          height: 40px;
          @include radius(100%);
          border: none;
          background: $primary-color;
        }
      }
    }
  }
}
// ==== uj_filters ====
.uj_filters {
  padding-top: 0;
  .col1 {
    width: 15%;
    @include ipad {
      width: 28%;
    }
    @include mobile_sm {
      width: 100%;
    }
    .top_heading {
      h5 {
        font-size: 19px;
        color: $primary-color;
      }
    }
    .filter_blk {
      border-top: 1px solid #9d9999;
      padding: 13px 0px;
      p {
        color: #232323;
        margin-bottom: 4px;
        font-family: "Medium";
      }
      .lbl_btn {
        label {
          color: #232323;
          margin-bottom: 4px;
          font-family: "Regular";
          font-size: 14px;
        }
      }
    }
  }
  .col2 {
    width: 85%;
    @include ipad {
      width: 70%;
    }
    @include mobile_sm {
      width: 100%;
      padding-left: 0;
    }
    padding-left: 40px;
    .top_bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include mobile_xs {
        display: block;
      }
      .searches {
        p {
          color: #000;
          font-size: 19px;
          font-family: "Medium";
          margin-bottom: 0;
        }
      }
      .assc {
        display: flex;
        align-items: center;
        select {
          @include mobile_sm {
            margin: 0;
          }
          background-color: transparent;
          border: none;
          @include radius(0);
          padding: 0;
          height: 3rem;
          margin: 0 13px;
          color: #696969;
          border-bottom: 1px solid #696969;
          background-position: right 0rem center !important;
        }
      }
    }
    .bottom_area {
      .flex {
        .cols {
          width: calc(100% / 3);
          @include ipad {
            width: 100%;
          }
          padding: 10px;
          .inner {
            display: block;
            padding: 15px;
            background: rgba(24, 119, 242, 0.04);
            border: 1px solid rgba(7, 126, 255, 0.44);
            @include radius(10px);
            .inside {
              display: flex;
              align-items: center;
              @include mobile_sm {
                display: block;
              }
              .image {
                width: 130px;
                height: 130px;
                @include mobile_sm {
                  margin-bottom: 10px;
                }
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  @include radius(100%);
                }
              }
              .content {
                padding-left: 15px;
                flex: 1;
                font-size: 13px;
                p {
                  margin-bottom: 0.5rem;
                }
                h5 {
                  color: #000000;
                  font-family: "Medium";
                  font-size: 17px;
                  margin-bottom: 3px;
                }
                .stars {
                  display: flex;
                  align-items: center;
                  font-size: 12px;
                  ul {
                    padding-left: 0;
                    display: flex;
                    align-items: center;
                    width: 30%;
                    margin-bottom: 0.5rem;
                    padding: 0 0.3rem;
                    li {
                      list-style: none;
                      img {
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                  p {
                    margin-bottom: 0.5rem;
                    span {
                      color: $black;
                    }
                  }
                }
              }
            }
            .com_rate {
              text-align: center;
              padding-top: 15px;
              border-top: 1px solid rgba(7, 126, 255, 0.44);
              margin-top: 1rem;
              p {
                margin-bottom: 0;
                color: #39374d;
                font-family: "SemiBold";
                font-size: 2.2rem;
              }
            }
          }
        }
      }
      .flexRow {
        margin-left: -10px;
        margin-right: -26px;
        @include mobile_sm {
          margin-right: -10px;
        }
      }
    }
  }
}
// ==== uj_team_detail ====
.uj_team_detail {
  .flex {
    width: 90%;
    margin: 0 auto;
    @include ipad {
      width: 100%;
    }
    .col1 {
      width: 65%;
      padding-right: 30px;
      @include ipad_sm {
        width: 100%;
        padding-right: 0;
      }
      .inner {
        position: relative;
        .image2 {
          position: absolute;
          width: 4%;
          top: 0;
          right: 0;
          cursor: pointer;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .inside {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(7, 126, 255, 0.44);
        padding-bottom: 15px;
        @include mobile_sm {
          display: block;
        }
        .image {
          width: 160px;
          height: 160px;
          @include mobile_sm {
            margin-bottom: 15px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include radius(100%);
          }
        }
        .content {
          padding-left: 25px;
          width: 80%;
          font-size: 13px;
          @include mobile_sm {
            width: 100%;
            padding-left: 0;
          }
          h5 {
            color: #000000;
            font-family: "Medium";
            font-size: 17px;
            margin-bottom: 3px;
          }
          .stars {
            display: flex;
            align-items: center;
            font-size: 12px;
            ul {
              padding-left: 0;
              display: flex;
              align-items: center;

              li {
                list-style: none;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
            p {
              span {
                color: $black;
                padding-left: 10px;
              }
            }
          }
        }
      }
      .inner_area {
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(7, 126, 255, 0.44);
        .inside {
          padding-bottom: 0;
          border: none;
          .content {
            padding-left: 0;
            .stars {
              font-size: 14px;
              ul {
                margin-bottom: 0;
              }
              p {
                margin-bottom: 0;
              }
            }
          }
        }
        h5 {
          font-size: 18px;
          color: $black;
        }
        .select_area {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 15px;
          @include mobile_sm {
            display: block;
          }
          .assc {
            display: flex;
            align-items: center;
            @include mobile_sm {
              margin: 20px 0;
            }
            select {
              background-color: transparent;
              border: none;
              border-radius: 0;
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              -ms-border-radius: 0;
              -o-border-radius: 0;
              padding: 0;
              height: 3rem;
              padding-left: 10px;
              color: #696969;
              border-bottom: 1px solid #c9c9c9;
              background-position: right 0rem center !important;
            }
          }
        }
      }
    }
    .col2 {
      width: 35%;
      @include ipad_sm {
        width: 100%;
        padding-top: 30px;
        .cta {
          width: fit-content;
          margin: 0 auto;
          margin-bottom: 20px;
        }
      }
      @include mobile_sm {
        .cta {
          width: 100%;
        }
      }

      .inner_card {
        background: #f6fafe;
        border: 1px solid rgba(7, 126, 255, 0.44);
        @include radius(12px);
        padding: 13px;
        margin: 15px 0;
        padding-bottom: 0;
        .head {
          text-align: center;
          h5 {
            font-size: 16px;
          }
        }
        ul {
          padding-left: 0;
          li {
            list-style: none;
          }
        }
        .Specialties {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          li {
            width: calc(100% / 2);
            padding: 3px;

            p {
              border: 1px solid rgba(7, 126, 255, 0.44);
              background: $light;
              padding: 5px;
              text-align: center;
              margin-bottom: 0;
              font-family: "Light";
              font-size: 13px;
              @include radius(5px);
            }
          }
        }
        .Expertise {
          li {
            display: flex;
            justify-content: space-between;
            p {
              width: calc(100% / 3);
              color: #39374d;
            }
            p.right {
              text-align: right;
            }
          }
        }
        .Serve {
          li {
            display: flex;
            align-items: center;
            p {
              width: calc(100% / 2);
              &:nth-child(2) {
                @include ipad_sm {
                  text-align: right;
                }
              }
            }
          }
        }
        .Licenses {
          li {
            display: flex;
            align-items: center;
            p {
              width: calc(100% / 2);
              &:nth-child(2) {
                @include ipad_sm {
                  text-align: right;
                }
              }
            }
          }
        }
        .Languages {
          text-align: center;
        }
        .Seller {
          li {
            p {
              width: calc(100% / 2);
              color: #696969;
              strong {
                color: #39374d;
              }
              &:nth-child(2) {
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}
// ==== uj_solo_deatail ===
.uj_solo_deatail {
  .col1_inner {
    .inner2 {
      border-bottom: 1px solid rgba(7, 126, 255, 0.44);
      .inside {
        border-bottom: none;
      }
      .flex {
        width: 100%;
        .inside2 {
          width: 50%;
          .image {
            width: 70px;
            height: 70px;
          }
        }
      }
      .down_p {
        font-size: 18px;
        color: $black;
        font-family: "Medium";
      }
      h4 {
        color: $black;
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}
.crosBtn {
  position: absolute;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20px;
  width: 25px;
  height: 25px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  z-index: 5;
  color: $light;
  background: $black;
  border-radius: 100%;
  &:before {
    content: "\2715";
    line-height: 1;
  }
}
.uj_popup {
  .tableDv {
    display: table;
    width: 100%;
    height: 100%;
    .tableCell {
      display: table-cell;
      vertical-align: middle;
      .col1 {
        margin: 0 auto;
        @include ipad_sm {
          width: 83%;
        }
        @include mobile_sm {
          width: 100%;
        }
        .inner_form {
          background: #f1f7ff !important;
          position: relative;
          @include mobile_sm {
            padding: 23px;
          }
          .txtGrp {
            margin-bottom: 20px;
            .input {
              height: 3.7rem;
            }
            textarea.input {
              height: 14rem;
            }
          }
          h4 {
            margin-bottom: 25px;
            color: $black;
          }
          h6 {
            font-family: "Regular";
            color: #121900;
            margin-bottom: 6px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
// ====== date_area ====
.date_area {
  select {
    background: #fff !important;
  }
}
.profile_forms {
  .form-block.flex {
    display: block;
    position: relative;
    .flex {
      margin-bottom: 1.5rem;
    }
  }
  .style_it {
    background: transparent;
    color: $primary-color;
    border: none;
    position: absolute;
    right: -56px;
    bottom: 5px;
  }
  .sub_contain {
    max-width: 98rem !important;
    form {
      .flex {
        .lbl_area {
          span {
            color: #696969;
          }
        }
        .colL {
          .inner {
            padding-right: 65px !important;
            .txtArea {
              height: 11.7rem;
            }
            .lbl_detail {
              width: 100%;
              padding-top: 20px;
              h4 {
                font-size: 19px;
                color: $black;
              }
              p {
                color: $black;
                font-size: 15px;
                font-family: "Medium";
                span {
                  color: #696969;
                }
              }
            }
            textarea.input {
              height: 19rem;
            }
            .lbl_area {
              span {
                color: #696969;
              }
            }
            .field_area {
              .body-content {
                ul {
                  width: 85%;
                  @include mobile_sm {
                    padding-left: 0;
                  }
                  li {
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    .right {
                      text-align: right;
                      margin-right: -2px;
                    }
                    p {
                      width: calc(100% / 3);
                      @include mobile_sm {
                        font-size: 12px;
                      }
                    }
                    strong {
                      color: $black;
                      font-family: "Medium";
                    }
                    .tick {
                      input {
                        border: 1px solid rgba(7, 126, 255, 0.2);
                        height: 23px;
                        width: 23px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .no_day {
          .date_area {
            width: 70%;
            @include mobile_sm {
              width: 100%;
            }
            .day_here {
              display: none;
            }
          }
        }
      }
    }
    .cta {
      width: fit-content;
      margin: 0 auto;
      margin-top: 41px;
    }
  }
  .uj_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile_sm {
      display: block;
    }
    h2 {
      margin-bottom: 0;
      @include mobile_sm {
        margin-bottom: 20px;
      }
    }
    .uj_cta {
      width: fit-content;
    }
  }
  .inner.uj_leader_form {
    width: 100% !important;
    padding-right: 70px !important;

    textarea.input {
      height: 19rem;
    }
    .lbl_check {
      display: flex;
      width: 100%;
      label {
        padding-left: 10px;
      }
    }
    .less_width {
      .input {
        width: 21%;
        @include mobile_sm {
          width: 54%;
        }
      }
    }
    .less_input {
      .input {
        width: 64%;
        @include mobile_sm {
          width: 100%;
        }
      }
    }
    .form_block2 {
      .field_area {
        padding-left: 0;
        position: relative;
      }
      .flex1 {
        .field_area {
          padding-left: 1rem;
        }
        .lbl_area {
          width: 100%;
          padding-left: 1rem;
        }
      }
      .width_less {
        width: 100%;
        margin-bottom: 0;
        .cols {
          width: calc(100% / 3);
          @include mobile_sm {
            width: 100%;
            margin-top: 10px;
            .flex1 {
              .lbl_area {
                padding-left: 0;
              }
              .field_area {
                padding-left: 0;
              }
            }
          }
        }
      }
    }
    .percent-area {
      position: relative;
      .input {
        padding-right: 36px;
      }
      p {
        position: absolute;
        left: 18%;
        top: 8px;
        @include mobile_sm {
          left: 45%;
        }
      }
    }
    .amount {
      p {
        left: unset;
        right: 5%;
      }
    }
    .block-2 {
      padding-top: 1.5rem;
    }
    .serve_area {
      position: relative;
    }
  }
}
// =======
.uj_verificaton {
  .form_tabs {
    background: #f1f7ff;
    padding: 35px;
    @include radius(20px);
    width: 68%;
    @include ipad {
      width: 80%;
    }
    @include ipad_sm {
      width: 100%;
    }
    margin: 0 auto;
    position: relative;
    .top_head {
      text-align: center;
    }
    .tabs_top {
      display: flex;
      justify-content: center;
      margin: 20px 0;
      @include mobile_sm {
        flex-wrap: wrap;
      }
      .tab_btn {
        border: none;
        background: rgba(7, 126, 255, 0.26);
        color: $primary-color;
        padding: 8px 15px;
        min-width: 82px;
        @include radius(6px);
        margin: 0 6px;
        @include mobile_sm {
          width: 100%;
          margin: 7px 0;
        }
      }
      .tab_btn.active {
        background: $primary-color;
        color: $light;
      }
    }
    .tab_content {
      form {
        display: none;
        h6 {
          color: #121900;
          font-family: "Regular";
          margin-bottom: 7px;
          font-size: 13px;
        }
        .txtGrp {
          margin-bottom: 2rem;
          .input {
            border: 1px solid #e6e6e6;
            background-color: $light;
            color: #696969;
          }
        }
        .cta {
          display: flex;
          justify-content: center;
        }
        .price_range {
          .col-md-2 {
            align-self: center;
            p {
              text-align: center;
              margin-bottom: 0;
            }
          }
        }
        .up_detail {
          p {
            color: $black;
            font-size: 13px;
          }
        }
      }
      form.active {
        display: block;
      }
    }
  }
}
// =====
.dash_team_form {
  .inner_form {
    display: flex;
    width: 82%;
    @include ipad {
      width: 100%;
      flex-wrap: wrap;
    }
    margin: 0 auto;
    .sub_contain {
      margin: unset !important;
      max-width: unset !important;
      width: 73%;
      @include ipad_sm {
        width: 100%;
      }
      .colL {
        width: 100% !important;
      }
      .inner {
        width: 100%;
      }
      .lbl_areap {
        p {
          color: $black;
          font-size: 13px;
        }
      }
      .dash_refferal {
        padding-right: 2rem !important;
      }
    }
    .left_bar {
      width: 27%;
      @include ipad_sm {
        width: 100%;
      }
      margin-top: 21px;
      li {
        list-style: none;
        padding-bottom: 9px;
        a {
          color: #696969;
        }
      }
      li.active {
        a {
          color: $black;
        }
      }
    }
  }
}
// ===
.dash_team_management {
  .red_btn {
    button {
      color: $black;
      border: 1px solid $black;
      background: #ffa984;
      padding: 7px;
      min-width: 80px;
      margin-top: 20px;
      @include radius(6px);
    }
  }
  .field_area {
    position: relative;
    .sub_btn {
      position: absolute;
      right: 17%;
      top: 5px;
      @include mobile_sm {
        right: -70px;
      }
      button {
        background: $primary-color;
        border: none;
        min-width: 70px;
        color: $light;
        padding: 4px;
        @include radius(6px);
        @include mobile_sm {
          background: transparent;
          color: $primary-color;
        }
      }
    }
    .style_btn {
      position: absolute;
      right: 21%;
      top: 7px;
      @include mobile_sm {
        right: -62px;
      }
      button {
        background: transparent;
        border: none;
        color: $primary-color;
      }
    }
  }
}
// ---
.dash_warning {
  @include mobile_sm {
    .flex {
      flex-direction: unset !important;
    }
  }
  .inner_form {
    background: #dfeeff;
  }
  form {
    h4 {
      text-align: center;
      padding-top: 20px;
    }
    .txtGrp {
      p {
        color: $black;
        font-size: 13px;
      }
    }
    .form_lbl_pro {
      padding-left: 11px;
    }
  }
}
.form_change {
  .txtGrp {
    .flex {
      align-items: center;
    }
  }
  .lbl_area {
    padding-right: 20px;
  }
}
.bcm_team.profile_forms {
  .flex {
    @include mobile {
      flex-direction: unset;
    }
  }
  .col1 {
    width: 69%;
    h4 {
      text-align: center;
    }
    .flex1 {
      margin-bottom: 20px;
      @include mobile_sm {
        margin-bottom: 6px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      p {
        color: $black;
      }
    }
    .cta {
      margin-top: 20px;
    }
    .style_it {
      bottom: 27px;
      @include mobile_sm {
        bottom: 4px;
        right: -73px;
      }
    }
  }
}
// ======
header {
  nav {
    @include ipad_sm {
      margin-left: auto !important;
    }
  }
  ._dropDown {
    position: relative;
    z-index: 3;
  }
  ._dropCnt {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 300px;
    max-width: 300px;
    background: #fff;
    margin-top: 10px;
    /* border: 1px solid #eee; */
    border-radius: 7px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    transition: all ease 0.5s;
    overflow: hidden;
    z-index: 3;
  }
  .dropLst {
    padding: 6px 0;
  }
  .user_img {
    display: flex;
    align-items: center;
    .smal_icon {
      padding-left: 13px;
    }
  }
  .proIco {
    margin-right: 20px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
    .ico {
      width: 43px;
      height: 43px;
      background: #fff;
      -webkit-box-shadow: 0 2px 5px 0 rgba(59, 65, 94, 0.1),
        0 1px 1px 0 rgba(0, 0, 0, 0.07);
      box-shadow: 0 2px 5px 0 rgba(59, 65, 94, 0.1),
        0 1px 1px 0 rgba(0, 0, 0, 0.07);
      @include radius(100%);
      img {
        object-fit: cover;
        border-radius: inherit;
      }
    }
    .proDrop {
      left: initial;
      right: 8px;
      min-width: 200px;
      max-height: calc(100vh - 90px);
      -webkit-box-shadow: rgb(0 0 0 / 10%) 0 4px 12px 0;
      box-shadow: rgb(0 0 0 / 10%) 0 4px 12px 0;
      overflow: auto;
      li {
        display: block;
        a {
          display: flex;
          padding: 5px 10px;
        }
      }
    }
  }
}
// ==== ut_agent_dashboard ===
.ut_agent_dashboard {
  .top_bar {
    display: flex;
    align-items: center;
    @include mobile_sm {
      flex-wrap: wrap;
    }
    .heading {
      width: 22%;

      @include ipad_sm {
        width: 30%;
      }
      @include mobile_sm {
        width: 100%;
      }
      h4 {
        margin-bottom: 0;
      }
    }
    .search {
      width: 78%;
      @include mobile_sm {
        width: 100%;
        margin-top: 15px !important;
      }
      form {
        width: 80%;
        @include mobile_sm {
          width: 100%;
        }
        margin: 0 auto;
        @include ipad_sm {
          margin: unset;
          margin-left: auto;
        }
        position: relative;
        button {
          position: absolute;
          right: 10px;
          background: transparent;
          top: 13px;
          border: none;
        }
        .input {
          padding-right: 40px;
        }
      }
    }
  }
  .top_area {
    @include ipad_sm {
      width: 100%;
      overflow: auto;
    }
    .tabs_top {
      @include ipad_sm {
        width: 133%;
      }
      @include mobile_sm {
        width: 257%;
      }
    }
  }
  .tab_content {
    > div {
      display: none;
    }
    div.active {
      display: block;
    }
  }
  .ut_common_bg {
    background: #f6fafe;
    border: 1px solid rgba(7, 126, 255, 0.44);
    padding: 13px;
  }
  .col1 {
    width: 22%;
    @include ipad {
      width: 100%;
    }
    .inner_card {
      @include radius(12px);

      margin: 15px 0;
      padding-bottom: 0;
      ul {
        padding-left: 0;
        li {
          display: flex;
          justify-content: space-between;
          p {
            width: 55%;
            font-size: 13px;
            &:nth-child(2) {
              text-align: right;
              width: 45%;
            }
          }
        }
      }
    }
  }
  .col2 {
    width: 78%;
    @include ipad {
      width: 100%;
    }
    padding-left: 10px;
    .tabs_top {
      margin: 18px 0px;
      .tab_btn {
        background: #f6fafe;
        border: 1px solid rgba(7, 126, 255, 0.44);
        padding: 5px 15px;
        border-radius: 6px;
        margin: 0 3px;
      }
      .tab_btn.active {
        background: $primary-color;
        color: $light;
      }
    }
  }
  .dash_table {
    @include ipad_sm {
      width: 100%;
      overflow-x: auto;
    }
    @include radius(10px);
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 500px;
    table {
      width: 100%;
      @include ipad_sm {
        width: 170%;
        overflow: auto;
      }
      @include mobile_sm {
        width: 256%;
      }
      th {
        background: rgba(7, 126, 255, 0.27);
        padding: 10px 7px;
        font-size: 13px;
        color: $black !important;
      }
      td {
        padding: 7px;
        font-size: 12px;
        .copy {
          p {
            color: $primary-color;
            cursor: pointer;
          }
        }
      }
    }
    .pagination {
      margin-bottom: 40px;
    }
  }
}
// ===== ut_client_dashboard ===
.ut_client_dashboard {
  .col2 {
    padding-left: 0;
    padding-right: 15px;
    padding-top: 15px;
    @include ipad {
      padding-right: 0;
    }
  }
  .col1 {
    margin-top: -13px;
    @include ipad_sm {
      margin-top: 20px;
      .dash_table {
        overflow: unset;
        table {
          width: 100%;
        }
      }
    }
    .lblock {
      h4 {
        font-size: 16px;
        text-align: center;
        margin-bottom: 7px;
      }
      .ut_in_height {
        min-height: 350px;
        margin-bottom: 15px;
      }
    }
  }
}
// =======
.dash_agent_review {
  @include mobile {
    .flex {
      flex-direction: unset;
    }
  }
  .tableDv {
    .tableCell {
      .col1 {
        .inner_form {
          background: #dfeeff !important;
          h4 {
            text-align: center;
            margin-top: 34px;
          }
          .field_area {
            ul {
              display: flex;
              align-items: center;
              width: 100%;
              margin-bottom: 0;
              padding-left: 0;
              li {
                list-style: none;
                width: 20px;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  .txtArea {
    height: 14rem !important;
  }
  .less_width {
    .input {
      width: 58%;
      @include mobile {
        width: 100%;
      }
    }
  }
  .cta {
    margin-top: 20px;
  }
}
