// ====
@mixin imge {
  @include pos($z: -1);
  height: 100%;
  width: 100%;
  object-fit: cover;
}
// ====
.uj_smallbanner {
  background: #ecf1f7;
  padding: 7rem 0;
  .inner {
    width: 50%;
    h2 {
      margin-bottom: 0;
    }
    p {
      margin-top: 15px;
    }
    &.how_it{
      width: 83%;
    }
  }

  .tab_banner {
    width: 65%;
    margin-top: 30px;
  }
}
// ===== uj_agent_first ====
.uj_agent_first {
  .flex {
    box-shadow: 0px 0px 20px -1px rgb(0 0 0 / 8%);
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    .cols {
      width: 50%;
    }
    .col1 {
      align-self: center;
      padding: 0 40px;
    }
    .col2 {
      .image {
        position: relative;
        padding-bottom: 66%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          @include imge;
        }
      }
    }
  }
}
// ======= uj_agent_advantage =======
.uj_agent_advantage {
  padding-top: 0;
  .sec_heading {
    text-align: center;
    margin-bottom: 30px;
  }
  .flex {
    .cols {
      width: calc(100% / 2);
      .inner {
        padding: 20px;
        display: flex;
        .image {
          width: 60px;
          height: 60px;
          padding: 10px;
          @include radius(10px);
          background: $primary-color;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          padding-left: 15px;
          width: 88%;
        }
      }
    }
  }
}
// ======= uj_agent_services =======
.uj_agent_services {
  padding-top: 0;
  .sec_heading {
    text-align: center;
    width: 63%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .flex {
    .cols {
      width: calc(100% / 3);
      padding: 15px;
      .inner {
        padding: 30px;
        box-shadow: 0px 0px 20px -1px #0d4e9530;
        text-align: center;
        @include radius(5px);
        .image {
          width: 60px;
          height: 60px;
          margin: 0 auto;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          margin-top: 20px;
          h4 {
            margin-bottom: 0;
            font-family: "Medium";
            font-size: 20px;
          }
        }
      }
    }
  }
}
// ===== uj_agent_cta =====
.uj_agent_cta {
  padding-top: 0;
  .inner {
    background: $primary-color;
    padding: 40px;
    text-align: center;
    @include radius(10px);
    width: 65%;
    margin: 0 auto;
    h2 {
      color: $light;
    }

    .cta {
      width: fit-content;
      margin: 0 auto;
      margin-top: 30px;
      .site_btn {
        background: $light;
        color: $primary-color;
      }
    }
  }
}
// ===== uj_seller_why ====
.uj_seller_why {
  padding-top: 0;
  .sec_heading {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
  .flex {
    padding-top: 80px;
    &:nth-child(2) {
      padding-top: 40px;
    }
    &:nth-child(odd) {
      flex-direction: row-reverse;
      .col1 {
        padding-left: 60px;
      }
    }
    &:nth-child(even) {
      .col1 {
        padding-right: 70px;
      }
    }

    .col1 {
      align-self: center;
      width: 40%;
    }
    .col2 {
      width: 60%;
      .image {
        position: relative;
        padding-bottom: 59%;
        overflow: hidden;
        @include radius(10px);
        img {
          @include imge;
          @include radius(10px);
        }
      }
    }
  }
}
// ===== uj_common_cta =====
.uj_common_cta {
  padding-top: 0;
  .inner {
    background: $primary-color;
    padding: 40px;
    text-align: center;
    @include radius(10px);
    width: 65%;
    margin: 0 auto;
    h2 {
      color: $light;
    }
    .content {
      margin: 30px 0;
      p {
        color: $light;
      }
    }

    .cta {
      width: fit-content;
      margin: 0 auto;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 0;
      li {
        list-style: none;
        padding: 0 20px;
        .site_btn {
          background: $light;
          color: $primary-color;
        }
      }
    }
  }
}
// ===== uj_contact_us ====
.uj_contact_us {
  .col1 {
    width: 60%;
    .inner_form {
      background: #087eff03;
      padding: 40px;
      border-radius: 20px;
      border: 1px solid #077eff30;
      .txtGrp {
        position: relative;
        margin-bottom: 25px;
        select {
          color: #9a9fa4;
        }
        .input {
          border-color: #d9d9d9;
          background-color: $light;
          ::placeholder {
            color: #9a9fa4;
          }
        }
      }
      .cta {
        display: flex;
        justify-content: center;
      }
    }
  }
  .col2 {
    width: 40%;
    align-self: center;
    padding-left: 30px;
    ul {
      li {
        list-style: none;
        padding-bottom: 20px;
        h5 {
          font-size: 22px;
        }
        .mail_area {
          display: flex;
          align-items: center;
          .image {
            width: 20px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          a {
            padding-left: 10px;
          }
        }
      }
    }
  }
}
// ====== uj_login ====
.uj_login {
  padding: 30px;
  .col1 {
    min-height: 94vh;
    width: 45%;
    background: url(../public/images/uj_login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include radius(15px);
    padding: 50px;
    display: flex;
    align-items: end;
    .signup_btn {
      background: $light;
      width: 100%;
      padding: 10px 13px;
      @include radius(10px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        margin-bottom: 0;
      }
      .site_btn {
        @include radius(50px);
      }
    }
  }
  .col2 {
    width: 55%;
    padding: 50px;
    align-self: center;
    .logo {
      max-width: 16.9rem;
      height: 7.9rem;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .up_cntent {
      text-align: center;
      margin-bottom: 59px;
    }
    .txtGrp {
      position: relative;
      margin-bottom: 20px;
      .input {
        background: $light;
        border-color: #9d9999;
        color: #555252;
      }
      .icos {
        position: absolute;
        width: 28px;
        height: 28px;
        right: 10px;
        top: 10px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .txtGrp.flex {
      justify-content: space-between;
      label {
        color: #555252;
        font-family: "Regular";
      }
      a {
        color: #555252;
        font-family: "Bold";
      }
    }
    .site_btn {
      width: 100%;
      border-radius: 52px;
    }
    .lbl_btn {
      p {
        margin-bottom: 0;
      }
    }
  }
}
// ==== uj_signup ====
.uj_signup {
  .col1 {
    background: url(../public/images/uj_signup.jpg);
  }
}
// ==== uj_forget ====
.uj_forget {
  .col1 {
    background: url(../public/images/uj_forget_pass.jpg);
  }
}
// ===== uj_policy_detail====
.uj_policy_detail {
  ol {
    margin-bottom: 30px;
  }
  .margin_it {
    margin-bottom: 33px;
  }
  h5 {
    font-size: 19px;
  }
  ul {
    padding-left: 0;
    li {
      list-style: none;
      a {
        color: $primary-color;
      }
    }
  }
}
// ======= uj_work_steps =======
.uj_work_steps {
  .sec_heading {
    text-align: center;
    margin-bottom: 30px;
  }
  .flex {
    .cols {
      width: calc(100% / 2);
      padding: 10px;
      .inner {
        padding: 30px;
        display: flex;
        background: #087eff17;
        height: 100%;
        @include radius(20px);
        .image {
          width: 140px;
          height: 140px;
          padding: 33px;
          align-self: center;
          @include radius(10px);
          background: $light;
          box-shadow: 0px 0px 20px -1px #00000030;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          padding-left: 33px;
          width: 74%;
          align-self: center;
          h4{
            font-family: 'SemiBold';
          }
        }
      }
    }
  }
}
// ======= uj_work_steps2 =======
.uj_work_steps2 {
  padding-top: 0;
  .sec_heading {
    text-align: center;
    margin-bottom: 13px;
  }
  .flex {
    .cols {
      width: calc(100% / 3);
      .inner {
        padding: 20px;
        .image {
          width: 240px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          padding-top: 30px;
          h4{
            font-family: 'SemiBold';
          }
        }
      }
    }
  }
}
// ======= uj_work_feature =======
.uj_work_feature {
  padding-top: 0;
  .sec_heading {
    text-align: center;
    width: 52%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .flex {
    justify-content: center;
    .cols {
      width: calc(100% / 3);
      .inner {
        padding: 13px;
        .content {
          h4 {
            font-size: 20px;
            color: #087eff;
            font-family: 'SemiBold';
          }
        }
      }
    }
  }
}
// ===== uj_faqs ====
.uj_faqs {
  padding-top: 0;
  .sec_heading {
    text-align: center;
    margin-bottom: 30px;
  }
  .inner {
    width: 80%;
    margin: 0 auto;
    .outer_faq {
      background: #087eff14;
      border-radius: 12px;
      border: 1px solid #087eff36;
      margin-bottom: 28px;
      padding: 2rem;
      padding-bottom: 0;
      h4 {
        font-size: 18px;
        color: #39374d;
        font-family: "Medium";
        margin-bottom: 0;
        // padding:0 38px 20px 0px;
        margin: -2rem -2rem 0;
        padding: 2rem;
        position: relative;
        border-bottom: 1px solid #087fff00;
        cursor: pointer;
        &:after {
          position: absolute;
          top: 0;
          right: 17px;
          bottom: 0;
          content: "";
          background: url(/images/wrap.svg);
          background-size: contain;
          background-position: 50%;
          background-repeat: no-repeat;
          width: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          -webkit-box-orient: vertical;
        }
      }

      .accordion__details {
        div{
          &:first-child {
            margin-top: 1rem;
          }
        }

        overflow: hidden;
        height: 0;
      }
      &.open {
        h4 {
          color: #087eff;
          border-bottom: 1px solid #087eff36;
          &:after {
            background: url(/images/wrap-down.svg);
            background-size: contain;
            background-position: 50%;
            background-repeat: no-repeat;
          }
        }
        .accordion__details {
          height: auto;
        }
      }
    }
  }
}
// ====
.uj_smallbanner2 {
  background: #ecf1f7;
  padding: 7rem 0;
  text-align: center;
  h2 {
    margin-bottom: 30px;
  }
  .search {
    width: 46%;
    margin: 0 auto;
    position: relative;
    .input {
      border: none;
      background: $light;
      @include radius(50px);
    }
    button {
      position: absolute;
      right: 7px;
      top: 1px;
      border: none;
      border-radius: 100%;
      width: 40px;
      padding: 9px;
      height: 44px;
      background: transparent;
    }
  }
}
// ===== uj_article ===
.uj_article {
  .inside {
    background: rgba(24, 119, 242, 0.04);
    border: 1px solid #eeeeee;
    padding: 30px;
    margin-bottom: 20px;
    @include radius(10px);
    &:last-child {
      margin-bottom: 0;
    }
    h5 {
      color: $black;
      font-family: "Medium";
      font-size: 18px;
    }
    p {
      color: #817263;
      margin-bottom: 20px;
    }
  }
}
p{
  &.found_res{
    margin-bottom: 2rem;
    strong{
      font-family: 'SemiBold';
    }
  }
}
.uj_search_found {
  
  .inside {
    p {
      margin-bottom: 0px;
    }
  }
}
// ======= uj_help_step =======
.uj_help_step {
  .sec_heading {
    text-align: center;
    margin-bottom: 30px;
  }
  .flex {
    .cols {
      width: calc(100% / 3);
      padding: 10px;
      .inner {
        padding: 25px 15px;
        display: flex;
        box-shadow: 0px 0px 20px -1px #0d4e9530;
        @include radius(10px);
        @include trans;
        &:hover{
          @include trans;
          box-shadow: none;
        }
        .image {
          width: 60px;
          height: 60px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .content {
          padding-left: 15px;
          width: 88%;
          h4 {
            font-family: "Regular";
            color: $primary-color;
            font-size: 19px;
            margin-bottom: .5rem;
          }
          p{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
// ==== uj_popular ===
.uj_popular {
  padding-top: 0;
  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li {
      width: calc(100% / 3);
      list-style: none;
      padding-left: 18px;
      padding-bottom: 10px;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        top: 4px;
        left: 0;
        height: 14px;
        width: 8px;
        background-image: url(../public/images/arrow_right.svg);
        background-size: cover;
        background-position: 50%;
      }
      a {
        color: #696969;
        &:hover{
          color: $color;
        }
      }
    }
  }
}
// ==== uj_what_veera ====
.uj_what_veera {
  padding-top: 0;
  .flex {
    box-shadow: none;
    padding: 0;
    .col1 {
      padding-right: 0;
    }
    .col2 {
      .image {
        @include radius(20px);
      }
    }
  }
}
// ======= uj_index_passionate =======
.uj_index_passionate {
  padding-top: 0;
  .sec_heading {
    text-align: center;
    width: 63%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .flex {
    .cols {
      width: calc(100% / 5);
      padding: 15px;
      .inner {
        padding: 10px;
        text-align: center;
        .image {
          width: 60px;
          height: 60px;
          background: $primary-color;
          @include radius(100%);
          margin: 0 auto;
          padding: 10px;
          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            @include radius(100%);
          }
        }
        .content {
          margin-top: 20px;
          h4 {
            margin-bottom: 0;
            font-family: "Medium";
            font-size: 18px;
          }
        }
      }
    }
  }
}
// ====uj_index_choose ==
.uj_index_choose {
  padding-top: 6rem;
  position: relative;
  &::before {
    @include pos($z: -1);
    content: "";
    background: #ecf1f7;
    width: 65%;
    @include radius(50px);
    height: 100%;
  }
  .flex {
    .col1 {
      padding-right: 40px;
      padding-left: 0;
    }
  }
}
// ===== uj_index_services ===
.uj_index_services {
  padding-top: 6rem;
  .cols {
    .inner {
      height: 100%;
      text-align: left !important;
      .inside {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .image {
          width: 49px;
          height: 49px;
          margin: unset;
        }
        .content {
          margin-top: 0;
          padding-left: 20px;
        }
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
// ====== uj_index_subscribe =====
.uj_index_subscribe {
  margin-bottom: 5rem;
  .flex {
    background: #ecf1f7;
    padding: 6rem 40px;
    @include radius(30px);
    .col2 {
      width: 55%;
      padding-left: 50px;
      h3 {
        margin-bottom: 30px;
      }
      .search {
        position: relative;
        .input {
          background: $light;
          border: none;
        }
        button {
          position: absolute;
          right: 6px;
          top: 6px;
          height: 36px;
          width: 114px;
          min-width: 10rem;
        }
      }
    }
    .col1 {
      width: 40%;
      .image {
        position: absolute;
        width: 36%;
        top: -7rem;
        left: 26px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
// =====  uj_search_agent ===
.uj_search_agent {
  .tab_banner {
    .tab_content {
      background-color: rgba(24, 119, 242, 0.21);
      @include radius(15px);
      border-top-left-radius: 15px;
      width: 76%;
      margin: 0 auto;
      form {
        display: block !important;
        .field_col {
          border-right: 1px solid #b4b5c2;
          &:nth-child(2) {
            flex: 0.5;
          }
        }

        .cta_btn {
          width: 40px;
          /* min-width: 27px; */
          height: 40px;
          @include radius(100%);
          border: none;
          background: $primary-color;
        }
      }
    }
  }
}
// ==== uj_filters ====
.uj_filters {
  padding-top: 0;
  .col1 {
    width: 15%;
    .top_heading {
      h5 {
        font-size: 19px;
        color: $primary-color;
      }
    }
    .filter_blk {
      border-top: 1px solid #9d9999;
      padding: 13px 0px;
      p {
        color: #232323;
        margin-bottom: 4px;
        font-family: "Medium";
      }
      .lbl_btn {
        label {
          color: #232323;
          margin-bottom: 4px;
          font-family: "Regular";
          font-size: 14px;
        }
      }
    }
  }
  .col2 {
    width: 85%;
    padding-left: 40px;
    .top_bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .searches {
        p {
          color: #000;
          font-size: 19px;
          font-family: "Medium";
        }
      }
      .assc {
        display: flex;
        align-items: center;
        select {
          background-color: transparent;
          border: none;
          @include radius(0);
          padding: 0;
          height: 3rem;
          margin: 0 13px;
          color: #696969;
          border-bottom: 1px solid #696969;
          background-position: right 0rem center !important;
        }
      }
    }
    .bottom_area {
      .flex {
        .cols {
          width: calc(100% / 3);
          padding: 10px;
          .inner {
            padding: 15px;
            background: rgba(24, 119, 242, 0.04);
            border: 1px solid rgba(7, 126, 255, 0.44);
            @include radius(10px);
            .inside {
              display: flex;
              align-items: center;
              .image {
                width: 130px;
                height: 130px;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  @include radius(100%);
                }
              }
              .content {
                padding-left: 15px;
                flex: 1;
                font-size: 13px;
                p{
                  margin-bottom: .5rem;
                }
                h5 {
                  color: #000000;
                  font-family: "Medium";
                  font-size: 17px;
                  margin-bottom: 3px;
                }
                .stars {
                  display: flex;
                  align-items: center;
                  font-size: 12px;
                  ul {
                    padding-left: 0;
                    display: flex;
                    align-items: center;
                    width: 30%;
                    margin-bottom: .5rem;
                    padding: 0 .3rem;
                    li {
                      list-style: none;
                      img {
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                  p {
                    margin-bottom: .5rem;
                    span {
                      color: $black;
                    }
                  }
                }
              }
            }
            .com_rate {
              text-align: center;
              padding-top: 15px;
              border-top: 1px solid rgba(7, 126, 255, 0.44);
              margin-top: 1rem;
              p {
                margin-bottom: 0;
                color: #39374D;
                font-family: "SemiBold";
                font-size: 2.2rem;
              }
            }
          }
        }
      }
      .flexRow {
        margin-left: -10px;
        margin-right: -26px;
      }
    }
  }
}
// ==== uj_team_detail ====
.uj_team_detail {
  .col1 {
    width: 75%;
    padding-right: 30px;
    .inside {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(7, 126, 255, 0.44);
      padding-bottom: 15px;
      .image {
        width: 160px;
        height: 160px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          @include radius(100%);
        }
      }
      .content {
        padding-left: 25px;
        width: 80%;
        font-size: 13px;
        h5 {
          color: #000000;
          font-family: "Medium";
          font-size: 17px;
          margin-bottom: 3px;
        }
        .stars {
          display: flex;
          align-items: center;
          font-size: 12px;
          ul {
            padding-left: 0;
            display: flex;
            align-items: center;

            li {
              list-style: none;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          p {
            span {
              color: $black;
            }
          }
        }
      }
    }
    .inner_area {
      padding-top: 20px;
      padding-bottom: 5px;
      border-bottom: 1px solid rgba(7, 126, 255, 0.44);
      h5 {
        font-size: 20px;
      }
      .select_area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .assc {
          display: flex;
          align-items: center;
          select {
            background-color: transparent;
            border: none;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            padding: 0;
            height: 3rem;
            padding-left: 10px;
            color: #696969;
            border-bottom: 1px solid #c9c9c9;
            background-position: right 0rem center !important;
          }
        }
      }
    }
  }
}
